<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/mylayout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<th:block layout:fragment="css">
    <style>
        .fieldError{
            color : red;
            font-size:11pt;
        }
    </style>
</th:block>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function() {
            var genre = [[ ${movieBean.genre} ]];
            var genreList = $('input[name=genre]');
            genreList.each(function() {
                var curr = $(this).val();
                var result = genre.indexOf(curr);
                if (result != -1) {
                    $(this).attr('checked', true);
                }
            });


        });

        var use;
        var isChecked = false;

        function check() {
            isChecked = true;
            $.ajax({
                url: "/movie/idcheck",
                type: "post",
                data: {
                    inputId: $('input[name=id]').val()
                },
                success: function(data) {
                    if ($('input[name=id]').val() == "") {
                        $('#msg').html("<font color=red>아이디 입력 누락</font>");
                        $('input[name=id]').focus();
                        $('#msg').show();
                    } else if (data == 'YES') {
                        $('#msg').html("<font color=blue>사용가능합니다.</font>");
                        $('#msg').show();
                        use = "possible";
                    } else {
                        $('#msg').html("<font color=red>이미 사용중인 아이디입니다.</font>");
                        use = "impossible";
                        $('#msg').show();
                    }
                }
            });
        }

        $(document).ready(function() {
            $('input[name=id]').on('keydown', function() {
                isChecked = false;
                use = "";
                $('#msg').hide();
            });

            $('#submitButton').on('click', function() {
                if (use == "impossible") {
                    alert("이미 사용중인 아이디입니다.");
                    return false;
                } else if (isChecked == false) {
                    alert("중복체크를 하세요");
                    return false;
                }
            });
        });
    </script>
</th:block>
<body>
<div class="content" layout:fragment="content">
    <h2>영화 등록</h2>
    <form name="myform" method="post" action="/movie/insert" th:object="${movieBean}">
        <div class="form-group">
            <b>아이디</b>
            <input type="text" class="form-control" th:field="${movieBean.id}" placeholder="아이디를 입력하세요" >
            <input type = "button" id = "btn" class = "btn btn-info" value = "중복체크" onClick = "check()">
            <span id = "msg"></span>
            <p th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="fieldError"></p>
        </div>
        <div class="form-group">
            <b>이름</b>
            <input type="text" class="form-control" th:field="${movieBean.name}" placeholder="이름을 입력하세요" >
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="fieldError"></p>
        </div>
        <div class="form-group">
            <b>나이</b>
            <input type="text" class="form-control" th:field="${movieBean.age}" placeholder="나이를 입력하세요" >
            <p th:if="${#fields.hasErrors('age')}" th:errors="*{age}" class="fieldError"></p>
        </div>
        <div class="form-group">
            <b>장르</b>
            <div class="form-control">
                <div class="form-check-inline">
            <span th:each="genre : ${genreArr}">
                <input type="checkbox" class="form-check-input" th:field="*{genre}" th:value="${genre}" th:text="${genre}"> &nbsp&nbsp
            </span>
                </div>
            </div>
            <p th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}" class="fieldError"></p>
        </div>
        <div class="form-group">
            <b>선호 시간</b>
            <select class="form-control" th:field="${movieBean.time}">
                <option value="">--선택하세요</option>
                <div class="form-check-inline" th:each="time : ${timeArr}">
                    <option th:value="${time}" th:text="${time}"></option>
                </div>
            </select>
            <p th:if="${#fields.hasErrors('time')}" th:errors="*{time}" class="fieldError"></p>
        </div>
        <div class="form-group">
            <b>동반 관객수</b>
            <div class="form-control">
                <div class="form-check-inline">
                    <label th:each="idx : ${#numbers.sequence(1,5)}">
                        <input type="radio" class="form-check-input" th:field="*{partner}" th:value="${idx}">
                        <span th:text="${idx}"></span> &nbsp&nbsp
                    </label>
                </div>
                <p th:if="${#fields.hasErrors('partner')}" th:errors="*{partner}" class="fieldError"></p>
            </div>
        </div>
        <div class="form-group">
            <b>개선사항</b>
            <textarea class="form-control" th:field="${movieBean.memo}" placeholder="개선사항을 입력하세요"></textarea>
            <p th:if="${#fields.hasErrors('memo')}" th:errors="*{memo}" class="fieldError"></p>
        </div>
        <button type="submit" id = "submitButton" class="btn btn-primary">영화 등록</button>
        <button type="reset" class="btn btn-primary">취소</button>
    </form>
</div>
</body>
</html>