<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    thymeleaf\viewEx04.html<br>
    <h1>상품 리스트</h1>
    <table border="1">
        <thead>
        <tr>
            <th>번호</th>
            <th>상품명</th>
            <th>상품설명</th>
            <th>가격</th>
            <th>등록일</th>
        </tr>
        </thead>
        <tbody>
        <!--        th:each="변수, 상태변수:컬렉션"-->
        <!--        th:each="변수:컬렉션" 변수Stat-->
        <!-- <tr th:each="itemDto , status: ${itemDtoList}">
             <td th:text="${status.count}"></td>
             <td th:text="${itemDto.itemNm}"></td>
             <td th:text="${itemDto.itemDetail}"></td>
             <td th:text="${itemDto.price}"></td>
             <td th:text="${itemDto.regTime}"></td>
         </tr>-->
        <!--<c:if test=""></c:if>-->
        <tr th:each="itemDto : ${itemDtoList}"> <!--itemDtoStat-->

            <td th:if="${itemDtoStat.even}" th:text="짝수"></td>
            <td th:unless="${itemDtoStat.even}" th:text="홀수"></td>

            <td th:text="${itemDto.itemNm}"></td>
            <td th:text="${itemDto.itemDetail}"></td>
            <td th:text="${itemDto.price}"></td>
            <td th:text="${itemDto.regTime}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>