<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link th:href="@{/css/layout.css}" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

</head>
<body>
<div th:replace="fragments/header::top"></div> <!-- ::top이 없으면 header 전체가 포함된다. -->
<div layout:fragment="content"></div>
<div th:replace="fragments/footer::bottom"></div>
</body>
</html>
