<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/mylayout}">


<th:block layout:fragment="script">
    <script>
        function allchk(){
            //alert('allchk()');
            var checkList = document.getElementsByName("row");
            var is_checked = document.getElementById("all").checked;
            for(i=0;i<checkList.length;i++){
                if(is_checked){
                    checkList[i].checked = true;
                }else{
                    checkList[i].checked = false;
                }
            }
        }//allchk

        function checkDelete(){ // 선택항목 삭제
            //alert('checkDelete');

             var checkList = document.getElementsByName('row');
             var flag = false;
             for(i=0; i<checkList.length; i++){
                if(checkList[i].checked){
                    flag = true;
                    break;
                }
            }

            if(flag){
                var del = confirm('정말 삭제하시겠습니까?');
                if(del){ // 확인
                    document.myform.submit();
                }else{ // 취소
                    alert("삭제 작업이 취소되었습니다.");
                }
            }else{
                alert('선택항목이 없습니다');
            }
        }
    </script>
</th:block>

<div class="content" layout:fragment="content">
    <h2>주문 목록 페이지</h2>
    <form th:action="@{/cafe}" method="get" class="form-inline mb-3 justify-content-center">
        <div class="form-group mx-sm-3 mb-2">
            <input type="text" name="keyword" th:value="${keyword}" class="form-control" placeholder="이름 또는 온도로 검색">
        </div>
        <button type="submit" class="btn btn-primary mb-2">검색</button>
    </form>

    <form name="myform" action="/cafe/checkDelete" method="post">

        <table class="table">
            <thead>
            <tr>
                <th><input type="checkbox" id="all" onclick="allchk()">번호</th>
                <th>아이디</th>
                <th>이름</th>
                <th>메뉴</th>
                <th>온도</th>
                <th>수량</th>
                <th>요청사항</th>
                <th>수정</th>
                <th>삭제</th>
            </tr>
            </thead>

            <tbody>
            <tr th:if="${cafeList.size == 0}">
                <td colspan="10" style="text-align: center;">주문 내역이 없습니다</td>
            </tr>
            <tr th:each="cafe:${cafeList}">
                <td>
                    <input type="checkbox" name="row" th:value="${cafe.num}" >
                    <label th:text="${cafe.num}"></label>
                </td>
                <td>
                    <a th:href="@{'/cafe/detail/'+${cafe.num}}" th:text="${cafe.id}"></a>
                </td>
                <td th:text="${cafe.name}"></td>
                <td th:text="${cafe.menu}"></td>
                <td th:text="${cafe.temp}"></td>
                <td th:text="${cafe.amount}"></td>
                <td th:text="${cafe.req}"></td>
                <td>
                    <a th:href="@{/cafe/update(num=${cafe.num})}">수정</a>
                </td>
                <td>
                    <a th:href="@{/cafe/delete(num=${cafe.num})}">삭제</a>
                </td>

            </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-primary" onclick="location.href='/cafe/insert'">추가</button>
        <button type="button" class="btn btn-danger" onclick="checkDelete()" >선택항목 삭제</button>
    </form>

    <!--페이지 설정-->
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${cafeList.hasPrevious()} ? '' : 'disabled'">
                <a class="page-link" th:href="@{/cafe(page=${cafeList.number - 1}, size=${cafeList.size}, keyword=${keyword})}">Previous</a>
            </li>

            <li class="page-item" th:each="i : ${#numbers.sequence(0, cafeList.totalPages - 1)}" th:classappend="${i == cafeList.number} ? 'active'">
                <a class="page-link" th:href="@{/cafe(page=${i}, size=${cafeList.size}, keyword=${keyword})}" th:text="${i + 1}"></a>
            </li>

            <li class="page-item" th:classappend="${cafeList.hasNext()} ? '' : 'disabled'">
                <a class="page-link" th:href="@{/cafe(page=${cafeList.number + 1}, size=${cafeList.size}, keyword=${keyword})}">Next</a>
            </li>

        </ul>
    </nav>
</div>
</html>